[Desktop Entry]
Name=Pipe Deck
Comment=Linux Audio Control Center
Exec=pipe-deck
Icon=com.pipedeck.PipeDeck
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
StartupNotify=true
